.git
.gitignore
.gitattributes

vendor
node_modules

tests
_internal
benchmark
docs
examples
resources

phpunit.xml
.phpunit.result.cache

*.md
!README.md

.env
.env.*
!.env.example

.idea
.vscode
.DS_Store
Thumbs.db
